<head>
    <title>SafeSearch</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <h1><span class="redtext">S</span>afe<span class="redtext">S</span>earch</h1>   
        </div>
        <div class="menu">
            <a href="/index">Home</a>
            <a href="/check">Check</a>
            <a href="/contact">Contact Us</a>
        </div>
    </div>
    <div class="content">
        <h1>Check<br>URL<br><span class="redtext">for SafeSearch</span></h1>
        <a href="/check">Check URLs</a>
    </div>
</body>